@import "variable";

body {
  background: $bg-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin-top: 1rem;
}

input, textarea, .btn {
  &:focus {
    box-shadow: none !important;
  }
}

/* ===== Header ===== */
.navbar {
  border-bottom: 3px solid $primary-color;
  background: $bg-color;
  opacity: 0.8;

  a.active {
    color: $primary-color !important;
  }
}

/* ===== Home ===== */
#home {
  background: url("../img/home.jpg") no-repeat fixed center top / cover;

  .dark-overlay {
    background: rgba(0, 0, 0, 0.7);

    .home-inner {
      padding-top: 150px;
      padding-bottom: 91px;

      .fa {
        background: $secondary-color;
        color: $primary-color;
        padding: 8px;
        font-size: 1rem;
        border-radius: 5px;
      }

      p {
        margin-top: 1rem;
      }

      .card-form {
        opacity: 0.8;

        .form-group {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

/* ===== Explore ===== */
#explore {
  .main {
    .fa {
      background: $bg-color;
      color: $font-color;
      padding: 8px;
      font-size: 1rem;
      border-radius: 5px;
    }
  }
}

/* ===== Create ===== */
#create {
  .main {
    .fa {
      background: $secondary-color;
      color: $primary-color;
      padding: 8px;
      font-size: 1rem;
      border-radius: 5px;
    }
  }
}

/* ===== Share ===== */
#share {
  .main {
    .fa {
      background: $bg-color;
      color: $font-color;
      padding: 8px;
      font-size: 1rem;
      border-radius: 5px;
    }
  }
}

/* ===== Footer ===== */
footer {
  margin-top: auto;

  @media screen and (max-width: 350px) {
    .col {
      flex: 0 0 auto;
      width: 100%;
      text-align: center !important;
    }

    .col:nth-child(2) {
      margin-top: 1rem;
    }
  }
}

/* ===== Contact Modal ===== */
#contact-modal {
  .form-group {
    margin-bottom: 1rem;

    textarea {
      resize: none;
    }
  }
}